body {
    margin: 0;
    text-align: center;
    font-family: Comic Sans MS;
    background-size: 1350px 740px;
    background-position: contain;
    background-color: blanchedalmond;
    background-repeat: no-repeat;

}

.text {
    color: rgb(80, 54, 21)
}

.emailart {
    display: inline-block;
    background-color: rgb(170, 148, 121);
    color: aliceblue;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transform: translateY(300px) translateX(250px);
   
}

.galleryart {
    display: inline-block;
    background-color: rgb(170, 148, 121);
    color: aliceblue;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transform: translateY(250px) translateX(120px);
   
}